{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
		<a href="/exercise-3-answer/" class="cc-back-link">&#8592; Back to answer of exercise 3</a>
	</nav>
{% endblock %}

{% block introduction %}
	{# TODO: add title and description of answer #}
	<h1>Answer: Exercise 3 - Bonus answer</h1>
	<p>Small bonus answer. Less to do with the Web Audio API. Web Audio API working together with MediaRecorder.</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
		<div class="record">
			<div>
				<span>Record success message</span>
				<button class="record-button record-button--success">Record</button>
			</div>

			<div>
				<span>Record error message</span>
				<button class="record-button record-button--error">Record</button>
			</div>
		</div>

		<form>
			<label class="text-field__label">
				<span>Write a text</span>
				<input class="text-field" type="text" required>
			</label>
			<button class="submit-button">Submit</button>
		</form>
	</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		const successButton = document.querySelector('.record-button--success')
		const errorButton = document.querySelector('.record-button--error')
		const constraints = { audio: true, video: false }

		const submitButton = document.querySelector('.submit-button')
		const textField = document.querySelector('.text-field')

		let recordingStream, audioCtx, mediaRecorder, successAudio, errorAudio
		let chunks = []
		let isRecording = false

		successButton.addEventListener('click', () => toggleRecordMessage(false))
		errorButton.addEventListener('click', () => toggleRecordMessage(true))
		submitButton.addEventListener('click', validateForm)

		function toggleRecordMessage(isError) {
			if(isRecording) {
				errorButton.disabled = false
				successButton.disabled = false
				stopRecording()
			} else {
				errorButton.disabled = !isError
				successButton.disabled = isError

				navigator.mediaDevices.getUserMedia(constraints)
					.then((stream) => startStream(stream, isError))
					.catch(err => {
						console.log('The following gUM error occured: ' + err)
					})
			}
		}

		function startStream(stream, isError) {
			isRecording = true
			chunks = []
			recordingStream = stream
			audioCtx = new AudioContext()

			const source = audioCtx.createMediaStreamSource(stream)
			const output = audioCtx.createMediaStreamDestination()
			source.connect(output)

			mediaRecorder = new MediaRecorder(output.stream)

			mediaRecorder.addEventListener('stop', () => saveAudio(isError))
			mediaRecorder.addEventListener('dataavailable', pushData)

			mediaRecorder.start()
		}

		function pushData(e) {
			chunks.push(e.data)
		}

		function saveAudio(isError) {
			const blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' })
			const audioUrl = window.URL.createObjectURL(blob)
			const audio = new Audio(audioUrl)

			isError ? errorAudio = audio : successAudio = audio
		}

		function stopRecording() {
			isRecording = false

			audioCtx.close()
			mediaRecorder.stop()
			recordingStream.getTracks().forEach(track => { track.stop() })
		}


		function validateForm(e) {
			e.preventDefault()

			if (textField.checkValidity()) {
				playSuccessAudio()
			} else {
				playErrorAudio()
			}
		}

		function playSuccessAudio() {
			console.log('success')

			if (successAudio) {
				successAudio.play()
			} else {
				return
			}
		}

		function playErrorAudio() {
			console.log('error')

			if (errorAudio) {
				errorAudio.play()
			} else {
				return
			}
		}
	</script>
{% endblock %}

{% block styles %}
	<style type="text/css">
		.record {
			margin-bottom: 1rem;
			display: flex;
		}

		.record div {
			margin-right: 1rem;
		}

		span {
			display: block;
		}

		.text-field {
			padding: 1rem;
		}

		.record-button,
		.submit-button {
			background: tomato;
			color: white;
			padding: 1rem 2rem;
		}

		button[disabled] {
			background: gray;
		}
	</style>
{% endblock %}
