{% extends "views/_base/base.html" %}

{% block introduction %}
	<h1>Web Audio API</h1>

	<p>This code class is about the Web Audio API. The synthesizer of the web. In this code class you will learn the basics of the Web Audio API, setting it up and apply it to real the real world.</p>
{% endblock %}

{% block exercises %}
	<h2>Exercises</h2>

	<ul>
		<li><a href="/exercise-1">Exercise 1 - Setting up</a></li>
		<li><a href="/exercise-2">Exercise 2 - Add effects to your audio</a></li>
		<li><a href="/exercise-3">Exercise 3 - Applied Web Audio API</a></li>
	</ul>
{% endblock %}

{% block presentation %}
	<h2>Presentation</h2>

	<div class="cc-presentation">
		<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRlh4aE1PIJzGVfwMP0MCQV1u5rbsEGqmSVBGwcibXNvLsSsO37Pi2KU0aRe0c88lZJIP3x8fnL7Q4l/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
	</div>
{% endblock %}

{% block stream %}
	<h2>Stream</h2>

	<div class="cc-stream">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/iwGFalTRHDA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>
{% endblock %}
