{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
		<a href="/exercise-1/" class="cc-back-link">&#8592; Back to exercise 1</a>
		<a href="/exercise-2/" class="cc-answer-link">Next exercise &#8594;</a>
	</nav>
{% endblock %}

{% block introduction %}
	<h1>Answer: Exercise 1 - Setting up</h1>
	<p>This is how you set up a stream from you microphone and play it with the Web Audio API. You now know how to create nodes and connect a destination.</p>
	<p>Recommended to only click the button when you listen through some kind of headphones</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
		<button class="record-button">Record</button>
	</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		const recordButton = document.querySelector('button');
		recordButton.addEventListener('click', toggleRecording)

		const constraints = { audio: true, video: false }
		let recordingStream, audioCtx
		let isRecording = false

		function toggleRecording() {
			if (isRecording) {
				stopStream()
			} else {
				navigator.mediaDevices.getUserMedia(constraints)
					.then(startStream)
					.catch(err => {
						console.log('The following gUM error occured: ' + err)
					})
			}
		}

		function startStream(stream) {
			isRecording = true
			recordButton.childNodes[0].nodeValue = 'Stop recording'
			recordingStream = stream

			audioCtx = new AudioContext()

      const source = audioCtx.createMediaStreamSource(stream)
      source.connect(audioCtx.destination)
		}

		function stopStream() {
			isRecording = false
			recordButton.childNodes[0].nodeValue = 'Record'

			audioCtx.close()
			recordingStream.getTracks().forEach(track => { track.stop() })
		}
	</script>
{% endblock %}

{% block styles %}
	<style type="text/css">
		.record-button {
			background: tomato;
			padding: 1rem 2rem;
			color: white;
		}
	</style>
{% endblock %}