{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
		<a href="/exercise-1-answer" class="cc-back-link">&#8592; Back to answer of exercise 1</a>
		<a href="/exercise-2-answer/" class="cc-answer-link">See answer &#8594;</a>
	</nav>
{% endblock %}

{% block introduction %}
	<h1>Answer: Exercise 2 - Add effects to your audio</h1>
	<p>Play an a-major chord. Create the chord with the Web Audio API and add effects like a delay and some gain.</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
		<button class="audio-button">Start audio</button>
	</section>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		let audioCtx
		let audioIsPlaying = false

		const audioButton = document.querySelector('button')

		audioButton.addEventListener('click', toggleAudio)

		function toggleAudio() {
			audioIsPlaying ? stopAudio() : startAudio()
		}

		function stopAudio() {
			audioIsPlaying = false
			audioButton.childNodes[0].nodeValue = 'Start audio'

			audioCtx.close()
		}

		function startAudio() {
			audioIsPlaying = true
			audioButton.childNodes[0].nodeValue = 'Stop audio'

			audioCtx = new AudioContext()

			// create a gainNode and connect it to a destionation

			createAccord(gainNode)
		}

		function createAccord(gainNode) {
			const sineA = audioCtx.createSomething()
			// set a frequency and start the node
			sineA.connect(toSomething)

			// Now add other oscillators with different frequency values and hear if you can create an a-major chord
			// As a bonus: add a delay so every oscillator starts at a different moment
		}

	</script>
{% endblock %}

{% block styles %}
	<style type="text/css">
		.audio-button {
			background: tomato;
			padding: 1rem 2rem;
			color: white;
		}
	</style>
{% endblock %}
