{% extends "views/_base/base.html" %}

{% block navigation %}
	<nav class="cc-navigation">
		<a href="/exercise-1-answer" class="cc-back-link">&#8592; Back to answer of exercise 1</a>
		<a href="/exercise-2-answer/" class="cc-answer-link">See answer &#8594;</a>
	</nav>
{% endblock %}

{% block introduction %}
	{# TODO: add title and description of exercise #}
	<h1>Exercise 2 - Add effects to your audio</h1>
	<p>[DESCRIPTION]</p>
{% endblock %}

{% block html %}
	<section class="cc-html-playground">
		{# TODO: add HTML of exercise #}
	</section>
{% endblock %}

{% block styles %}
	<style type="text/css">
		/*{# TODO: add CSS of exercise #}*/
	</style>
{% endblock %}

{% block scripts %}
	<script type="text/javascript">
		//{# TODO: add JavaScript of exercise #}
	</script>
{% endblock %}
